.App {
  text-align: center;
  margin: 20px 40px 0;
}

.ant-spin-nested-loading {
  top: 25px;
}

.ant-modal-content .ant-spin-nested-loading {
  overflow-y: scroll;
  height: 200px;
  overflow-x: hidden;
}

.change-part {
  padding: 20px 50px;
}
